<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database Connection Settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<property name="connection.url">jdbc:mysql://127.10.61.2:3306/quickhelper?serverTimezone=America/New_York&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
		 
<!-- 
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/quickhelper?serverTimezone=America/New_York&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
-->

		<property name="connection.username">admin1V3Q22N</property>
		<property name="connection.password">iKc_v-hjdqh7</property>
		<!-- Connection Pool Size (built-in) -->
		<property name="connection.pool.size">1</property>
		<!-- SQL Dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">false</property>
		<!-- Drop the existing tables and create new one -->
		<property name="hbm2ddl.auto">update</property>
		<!-- Mention here all the model classes along with their package name -->
		<mapping class="smart.quickhelper.entities.User" />
		<mapping class="smart.quickhelper.entities.Message" />
		<mapping class="smart.quickhelper.entities.Task" />
		<mapping class="smart.quickhelper.entities.Category" />
	</session-factory>
</hibernate-configuration>